<h1 class="hero-header">Welcome to CSE Motors!</h1>
<div class="hero">
    <div class="hero-overlay">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <button><strong>Own Today</strong></button>
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="Delorean from Back to the Future">
</div>
<section class="car-information">
    <section>
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <div class="grid-item">
                <div class="card">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Upgrade">
                </div>
                <a href="#flux">Flux Capacitor</a>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <a href="#flame">Flame Decals</a>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <a href="#bumper">Bumper Stickers</a>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <a href="#hub">Hub Caps</a>
            </div>
        </div>
    </section>
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Mcfly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</section>