<!-- Page Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Flash Messages -->
<% if (typeof flashMessage !== 'undefined') { %>
    <div class="flash-message">
        <p><%= flashMessage %></p>
    </div>
<% } %>

<!-- Error Messages -->
<% if (errors && errors.length > 0) { %>
    <ul class="error-list">
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<form id="addClassificationForm" action="/inv/add-classification" method="POST">
    <fieldset>
      <legend>Add a New Classification</legend>
      <label for="classification_name">Classification Name:</label>
      <input 
        type="text" 
        id="classificationName" 
        name="classification_name" 
        placeholder="Enter Classification" 
        required 
        pattern="[A-Za-z]+" 
        title="Please enter one or more alphabetic characters only. No spaces or special characters allowed."
      >
      <button type="submit" id="submit">Add Classification</button>
    </fieldset>
  </form>